@model FightingFantasy.Mvc.Models.BaseViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @await RenderSectionAsync("Styles", required: false)

    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <img src="~/images/logo.jpg" class="mx-auto d-block" />
    </header>
    <nav class="navbar navbar-default navbar-expand-lg" >
        <ul class="navbar-nav">
            <li class="ml-2 mr-2">@Html.ActionLink("Home", "Index", "Home")</li>

            @if (!User.Identity.IsAuthenticated)
            {
                <li class="ml-2 mr-2">@Html.ActionLink("Register", "Register", "Home")</li>
                <li class="ml-2 mr-2">@Html.ActionLink("Login", "Login", "Home")</li>
            }
            else
            {
                <li class="ml-2 mr-2">@Html.ActionLink("Change Password", "ChangePassword", "Home")</li>
            }
        </ul>
    </nav>
       
    @RenderBody()

<div id="messages" class="container">
    <div class="row">
        @if (!String.IsNullOrEmpty(Model.SuccessMsg))
        {
            <span class="alert-success">@Model.SuccessMsg</span>
        }
        @if (!String.IsNullOrEmpty(Model.ErrorMsg))
        {
            <span class="alert-warning">@Model.ErrorMsg</span>
        }
    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/umd/popper.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
