@model FightingFantasy.Mvc.Models.Home.ChangePasswordViewModel

    <div class="container">
        <div class="row">
                <form action="@Url.Action("ChangePassword", "Home")" method="post">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CurrentPassword)
                        @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.CurrentPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.NewPassword)
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NewPassword)
                    </div>
                    <div class="input-group-prepend">
                        <input type="submit" class="btn btn-primary" />
                    </div>

                </form>
        </div>
    </div>